<% include ../../partials/users/header.ejs %>
<div class="ui styled fluid accordion" style="width:90%; margin-left:5%; margin-top:20px">
    <div class="title"><i class="dropdown icon"></i> Long Term Bets</div>
    <div class="content">
        
    </div>
    <div class="title"><i class="dropdown icon"></i> Daily Bets</div>
    <div class="content">Daily Bets</div>
</div>
<script>
$('.accordion').accordion();
</script>

    <% include ../../partials/users/footer.ejs %>
