<% include ../../partials/users/header.ejs %>
<div class="ui center aligned very padded container segment">
    <h1 class="ui header">
        Under Construction
    </h1>
</div>
    <% include ../../partials/users/footer.ejs %>
