<% include ../../partials/admin/header.ejs %>
    <div class="ui container segment" style="width:90%; margin-left:5%">
        <div class="ui segment">
            <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <div class="ui header">Define Pots</div>
            <div class="ui form" style="display:inline-block; width:100%;">
                <div class="field">
                    <label>Match</label>
                    <select class="ui fluid search dropdown" id="match">
                        <option value="">Select Match</option>
                    </select>
                </div>
                <div id="tlb"></div>
                <div id="stb"></div>
            </div>
        </div>
    </div>

    <script>
        function staticEntry(name, active) {
            var cbdiv1 = document.createElement('div');
            cbdiv1.setAttribute('class', 'ui toggle checkbox field');
            var i1 = document.createElement('input');
            i1.setAttribute('type', 'checkbox');
            i1.setAttribute('id', name);
            if (active) {
                i1.setAttribute('checked', active);
                cbdiv1.setAttribute('class', 'ui disabled toggle checkbox field');
            }
            cbdiv1.appendChild(i1);
            var lbl1 = document.createElement('label');
            lbl1.textContent = name;
            cbdiv1.appendChild(lbl1);
            return cbdiv1;
        }

        $.ajax('/apis/match/undeclared', {
            success: function (data) {
                data = JSON.parse(data);
                var select = $('#match')[0];
                data.forEach(function (match) {
                    var option = document.createElement('option');
                    option.setAttribute('value', match.id);
                    option.textContent = match.home.name + ' vs ' + match.away.name + ' (' + match.fixture.date + ')';
                    select.appendChild(option);
                });
                select.addEventListener('change', function (oEvent) {
                    $('.dimmer')[0].setAttribute('class', 'ui active inverted dimmer');
                    var matchID = oEvent.target.value;
                    $.ajax('/apis/pot/match/' + matchID, {
                        async: true,
                        success: function (data) {
                            data = JSON.parse(data);
                            window.ot = data[0].openTime;
                            window.ct = data[0].closeTime;
                            var form = $('#tlb')[0];
                            $(form).empty();
                            data.forEach(function (pot) {
                                if (pot.isTeamLevel) {
                                    console.log(pot);
                                    var field = document.createElement('div');
                                    field.setAttribute('class', 'field');

                                    var label = document.createElement('label');
                                    label.textContent = pot.displayName;
                                    field.appendChild(label);

                                    var fields = document.createElement('div');
                                    fields.setAttribute('class', 'fields');
                                    var d1 = document.createElement('div');
                                    d1.setAttribute('class', 'three wide disabled field');
                                    var i1 = document.createElement('input');
                                    i1.setAttribute('type', 'date');
                                    i1.setAttribute('value', pot.openTime.split('T')[0]);
                                    d1.appendChild(i1);
                                    fields.appendChild(d1);
                                    var d2 = document.createElement('div');
                                    d2.setAttribute('class', 'three wide disabled field');
                                    var i2 = document.createElement('input');
                                    i2.setAttribute('type', 'time');
                                    i2.setAttribute('value', pot.openTime.split('T')[1].split('Z')[0]);
                                    d2.appendChild(i2);
                                    fields.appendChild(d2);
                                    var d3 = document.createElement('div');
                                    d3.setAttribute('class', 'three wide disabled field');
                                    var i3 = document.createElement('input');
                                    i3.setAttribute('type', 'date');
                                    i3.setAttribute('value', pot.closeTime.split('T')[0]);
                                    d3.appendChild(i3);
                                    fields.appendChild(d3);
                                    var d4 = document.createElement('div');
                                    d4.setAttribute('class', 'three wide disabled field');
                                    var i4 = document.createElement('input');
                                    i4.setAttribute('type', 'time');
                                    i4.setAttribute('value', pot.closeTime.split('T')[1].split('Z')[0]);
                                    d4.appendChild(i4);
                                    fields.appendChild(d4);
                                    var d5 = document.createElement('div');
                                    d5.setAttribute('class', 'three wide field');
                                    var i5 = document.createElement('input');
                                    i5.setAttribute('type', 'number');
                                    i5.setAttribute('id', 'home');
                                    i5.setAttribute('placeholder', 'Home Multiplier');
                                    i5.setAttribute('value', pot.multiplierHome);
                                    d5.appendChild(i5);
                                    fields.appendChild(d5);
                                    var d6 = document.createElement('div');
                                    d6.setAttribute('class', 'three wide field');
                                    var i6 = document.createElement('input');
                                    i6.setAttribute('type', 'number');
                                    i6.setAttribute('id', 'away');
                                    i6.setAttribute('placeholder', 'Away Multiplier');
                                    i6.setAttribute('value', pot.multiplierAway)
                                    d6.appendChild(i6);
                                    fields.appendChild(d6);
                                    field.appendChild(fields);
                                    form.appendChild(field);
                                }
                            });
                        },
                        error: function (data) {
                            $('.modal .header')[0].textContent = error.statusText;
                            $('.modal .content p')[0].textContent = error.responseText;
                            $('.modal').modal('setting', 'transition', 'vertical flip').modal('show');
                        }
                    });
                    $.ajax('/apis/pot/static/' + matchID, {
                        success: function (data) {
                            data = JSON.parse(data);
                            data.active.map(function (item, index) {
                                data.active[index] = {
                                    active: true,
                                    value: item
                                };
                            });
                            data.inactive.map(function (item, index) {
                                data.inactive[index] = {
                                    active: false,
                                    value: item
                                };
                            });
                            data = data.active.concat(data.inactive);

                            var form = $('#stb')[0];
                            $(form).empty();
                            var i;
                            var threeFields = document.createElement('div');
                            threeFields.setAttribute('class', 'three fields');
                            for (i = 0; i < 3; i++) {
                                threeFields.appendChild(staticEntry(data[i].value, data[i].active));
                            }
                            form.appendChild(threeFields);
                            var threeFields = document.createElement('div');
                            threeFields.setAttribute('class', 'three fields');
                            for (i = 3; i < 6; i++) {
                                threeFields.appendChild(staticEntry(data[i].value, data[i].active));
                            }
                            form.appendChild(threeFields);
                            var threeFields = document.createElement('div');
                            threeFields.setAttribute('class', 'three fields');
                            for (i = 6; i < 9; i++) {
                                threeFields.appendChild(staticEntry(data[i].value, data[i].active));
                            }
                            form.appendChild(threeFields);
                            var btn = document.createElement('button');
                            btn.setAttribute('class', 'ui positive button');
                            btn.textContent = 'Update Pots';
                            btn.addEventListener('click', function (oEvent) {
                                var payload = {
                                    match: matchID,
                                    openTime: window.ot,
                                    closeTime: window.ct,
                                    home: $('input[type=number]')[0].value,
                                    away: $('input[type=number]')[1].value,
                                    static: []
                                };
                                var static = [];
                                $('input[type=checkbox]').each(function (index, item) {
                                    if (item.checked) {
                                        static.push(item.id);
                                    }
                                });
                                payload.static = static;
                                $.ajax('/apis/pot/add/short-term', {
                                    method: 'POST',
                                    contentType: 'application/json',
                                    data: JSON.stringify(payload),
                                    success: function (data) {
                                        $('.modal .header')[0].textContent = 'Success';
                                        $('.modal .content p')[0].textContent = data;
                                        $('.modal').modal('setting', 'transition', 'vertical flip').modal('show');
                                    },
                                    error: function (error) {
                                        $('.modal .header')[0].textContent = error.statusText;
                                        $('.modal .content p')[0].textContent = error.responseText;
                                        $('.modal').modal('setting', 'transition', 'vertical flip').modal('show');
                                    }
                                });
                            });
                            form.appendChild(btn);
                            $('.dimmer')[0].setAttribute('class', 'ui inverted dimmer');
                        }
                    });
                });
                $('.dimmer')[0].setAttribute('class', 'ui inverted dimmer');
            },
            error: function (error) {
                $('.modal .header')[0].textContent = error.statusText;
                $('.modal .content p')[0].textContent = error.responseText;
                $('.modal').modal('setting', 'transition', 'vertical flip').modal('show');
            }
        })
    </script>

    <% include ../../partials/admin/footer.ejs %>